.glass-card {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  /* padding: 24px; */
  /* max-width: 400px;
    max-height: 200px; */
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 400px;
  height: 200px;

  position: relative;
  bottom: 120px;
}

.glass-card-title {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.glass-card-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
}
